*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	line-height:1.5;
	font-family: 'Scope One', serif;
}
/* <!--===================== HEADER SECTION    =================== --> */
.hero{
	background-image:linear-gradient(rgb(244,55,66,0.3),rgb(244,55,66,0.3)), url(../images/mobile-bg.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	overflow:hidden;
	height:850px;
	position:relative;
	
}
.iphone{
	width:500px;
	position:absolute;
	top:0;
	right:-35px;
	transform:translate(-20%,30%);	
}
.header{
	padding-top:45px;
}
.navbar{
	padding-top:20px;
}
.navbar li a, .chocolate h1, .chocolate p{
	color:#fff;
}
.navbar li a,.chocolate h1,.btn{
	text-transform:uppercase;
}

.navbar li a{
	padding-top:20px;
	font-size:16px;
	font-weight:regular;
	padding-left:8px;
	margin-left:10px;
	position:relative;
	
}
.navbar li a::after{
	content:'';
	height:5px;
	width:0;
	background-color:#fff;
	position:absolute;
	bottom:-15px;
	left:0;
	transition:all 0.4s ease-in-out;
}
.navbar li a:hover::after{
	background-color:#fff;
	width:100%;
}
.chocolate{

	padding:140px 0 60px;
}
.chocolate h1{
	line-height:1!important;
	font-family: 'Montserrat', sans-serif;
	font-size:52px;
	font-weight:bold;
	margin-bottom:55px;
	width:105%;
	
}
.chocolate p{
	line-height:1!important;
	font-size:36px;
	font-weight:regular;
	margin-bottom:50px;
	
} 

.btn{
	font-family: 'Montserrat', sans-serif;
	padding:15px 50px 15px 35px;
	background-color:#353535;
	border-radius:100px;
	font-size:18px;
	color:#fff;
	cursor:pointer;
	font-weight:bold;
	transition:all 0.4s ease-in-out;
}
.btn i{
	vertical-align:middle;
	margin-right:22px;
	font-size:45px;

}
.btn:hover {
	background-color:#fff;
	color:#353535;
}

/* --===================== APP FEATURES SECTION    ================== */
.features{
	padding:85px 0 105px;
	margin:0 auto;	
}
.features-h1{
	font-family: 'Montserrat', sans-serif;
	margin-bottom:45px;
	font-size:52px;
	font-weight:bold;
	color:#8a8a8a;
	text-transform:uppercase;
}
.features-para{
	margin-bottom:62px;
	font-size:22px;
	font-weight:regular;
	color:#3a3a3a;
}
.thumbnail img{
	cursor:pointer;
}
.thumb-heading{
	font-family: 'Montserrat', sans-serif;
	margin-bottom:40px;
	font-size:24px;
	font-weight:bold;
	color:#1a1a1a;
	text-transform:uppercase;
}
.thumb-para{
	margin:0 auto;
	width:85%;
	font-size:18px;
	font-weight:regular;
	color:#646464;	
}
/* --===================== FRUITS SECTION    ================== */

.fruit-section{
	background-image:url(../images/fruit-img.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:850px;
	padding:195px 0 165px;
	
}
.fruit-heading{
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size:48px;
	font-weight:bold;
	margin-bottom:50px;
	text-transform:uppercase;
	width:135%;
}
.color{
	color:#ff6469;
	font-family: 'Montserrat', sans-serif;
}
.fruit-para{
	width:80%;
	margin-bottom:65px;
	font-size:24px;
	color:#585858;
	font-weight:bold;
}
.fruit-img{
	width:820px;
	height:850px;
	object-fit:cover;
}
.btn1{
	font-family: 'Montserrat', sans-serif;
	padding:18px 22px;
	background-color:#e14e44;
	border-radius:50px;
	border:none;
	margin-left:15px;
	text-transform:uppercase;
	font-size:15px;
	color:#fff;
	cursor:pointer;
	font-weight:bold;
	transition:all 0.4s ease-in-out;
}
.btn1:hover {
	background-color:#fff;
	color:#e14e44;
}

/* --===================== FOOTER SECTION    ================== */
.footer-section{
	padding:120px 0 120px;
	background-color:#2e2e38;
}
.foot-heading1{
	padding-left:15px;
	margin-bottom:25px;
}
.foot-heading2{
	margin-bottom:40px;
}
.foot-heading3{
	margin-bottom:44px;
}
.foot-heading1,.foot-heading2,.foot-heading3{
	
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	color:#fff;
	font-weight:bold;
	text-transform:capitalize;
}
.box{
	margin-bottom:25px;
	width:60px;
	height:46px;
	background-color:#e74c3c;
}
.foot-para{
	font-size:15px;
	color:#fff;
	font-weight:regular;
}
.style{
	font-style:italic;
	font-family: 'Open Sans', sans-serif;
}
.sed li{
	display:block;
}
.sed li:first-child{
	font-size:14px;
	color:#fff;
	font-weight:bold;
	margin-bottom:10px;
}
.sed li:last-child{
	font-size:11px;
	color:#fff;
	font-weight:regular;
	margin-bottom:25px;
}
.followus{
	font-size:14px;
	color:#fff;
	font-weight:bold;
	
}
.foot-end{
	background-color:#d7dedc;
	padding:40px 0 ;
	
}
.foot-end li a{
	font-size:25px;
	color:#000;
	font-weight:regular;
	
}
.foot-end li i{
	margin-right:20px;
}
.foot-end li :first-child i{
	color:#3e5b9b;
}
